.nav{
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0rem 1rem;
    height: 52px;
    
}
.nav li.active{
    padding-bottom: 10px;
    border-width: 0 0 2px 0;
    border-bottom-color: #a12b16;

}

.nav li:hover{
    margin: 0rem;
    padding-bottom: 10px;
    border-width: 0 0 2px 0;
    border-bottom-color: #800020;

}
 
.nav a{
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .7rem;
}

.site-title{
    font-size: 2rem;
}

.nav ul{
    padding: 0px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
ul{
    font-family: 'Advent Pro', sans-serif;
    font-weight: 550;
    font-size: 25px ;
}

.titre{
    color: #a12b16;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    max-width: 1000px;
    margin-left: 20px;
}
